[submodule "backend"]
	path = backend
	url = https://github.com/hnthap/furniture_app_backend
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/hnthap/furniture_app_frontend
	branch = main
